/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --header-title-color: #DB00FF;
  --paragraph-text-color: #000028;
  --content-title-color: var(--accent-color);
  --content-text-color: #F1B2CE;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --lamp-display: block;
  --button-text-color: var(--accent-color);
  --button-border-color: var(--accent-color);
  --button-hover-color: #FF007066;
  --decor-corner-color: var(--accent-color);
}

/* .theme-dark .page {
} */
