/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: IBM Plex mono;
  --fallback-font: sans-serif;
  --accent-color: #ff0070;
  --header-title-color: #DB00FF;
  --paragraph-text-color: #000028;
  --content-title-color: var(--accent-color);
  --content-text-color: #F1B2CE;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --lamp-display: block;
  --button-border-color: var(--accent-color);
  --button-hover-color: #FF007066;
  --gap-transfer-10px-20px: clamp(
    10px,
    calc(10px + ((20 - 10) * ((100vw - 375px) / (768 - 375)))),
    20px
  );
  --decor-corner-indent: var(--gap-transfer-10px-20px);
  --decor-corner-size: 25px;
  --decor-corner-color: var(--accent-color);
  --gap-transfer-10px-0px: clamp(
    0px,
    calc(10px + ((0 - 10) * ((100vw - 375px) / (768 - 375)))),
    10px
  );
  --gap-transfer-40px-60px: clamp(
    40px,
    calc(40px + ((60 - 40) * ((100vw - 375px) / (768 - 375)))),
    60px
  );
  --gap-transfer-50px-80px: clamp(
    50px,
    calc(50px + ((80 - 50) * ((100vw - 375px) / (768 - 375)))),
    80px
  );
  --header-paragraph-width: clamp(
    355px,
    calc(355px + ((364 - 355) * ((100vw - 375px) / (768 - 375)))),
    364px
  );
  --header-paragraph-width-xl: clamp(
    364px,
    calc(364px + ((491 - 364) * ((100vw - 768px) / (1024 - 768)))),
    491px
  );
}